
  .wrapper {
    position: relative;
    padding-top: 180px;
    padding-bottom: 130px;
    background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
  
    @media (max-width: $mantine-breakpoint-xs) {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }
  
  .inner {
    position: relative;
    z-index: 1;
  }
  
  .title {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 28px;
      text-align: left;
    }
  }
  
  .highlight {
    color: var(--mantine-color-primary-4);
  }
  
  .description {
    color: var(--mantine-color-gray-0);
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-md);
      text-align: left;
    }
  }
  
  .controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  
    @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
    }
  }
  
  .control {
    height: 42px;
    font-size: var(--mantine-font-size-md);
  
    &:not(:first-of-type) {
      margin-left: var(--mantine-spacing-md);
    }
  
    @media (max-width: $mantine-breakpoint-xs) {
      &:not(:first-of-type) {
        margin-top: var(--mantine-spacing-md);
        margin-left: 0;
      }
    }
  }
  
  .secondaryControl {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);
  
    @mixin hover {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }
  .wrapper2 {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
  .title2 {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 28px;
      text-align: left;
    }
  }
  
  .description2 {
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      text-align: left;
    }
  }

  
  .wrapper_contact {
    position: relative;
    padding-top: 20px;
    padding-bottom: 130px;
    background-image: url(https://images.unsplash.com/photo-1724304406928-c43b01912fa1?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    color: white;
  
    @media (max-width: $mantine-breakpoint-xs) {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }

  .card {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
  }
  
  .title_carousel {
    font-family:
      Greycliff CF,
      sans-serif;
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 32px;
    margin-top: var(--mantine-spacing-xs);
  }
  
  .category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
  }

  .root {
    display: flex;
    background-image: linear-gradient(
      -60deg,
      var(--mantine-color-blue-4) 0%,
      var(--mantine-color-blue-7) 100%
    );
    padding: calc(var(--mantine-spacing-xl) * 1.5);

  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .title_stats {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
  }
  
  .count_stats {
    color: var(--mantine-color-white);
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }
  
  .description_stats {
    color: var(--mantine-color-blue-0);
    font-size: var(--mantine-font-size-sm);
    margin-top: 5px;
  }
  
  .stat {
    flex: 1;
  
    & + & {
      padding-left: var(--mantine-spacing-xl);
      margin-left: var(--mantine-spacing-xl);
      border-left: 1px solid var(--mantine-color-blue-3);
  
      @media (max-width: $mantine-breakpoint-sm) {
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
        padding-top: var(--mantine-spacing-xl);
        margin-top: var(--mantine-spacing-xl);
        border-top: 1px solid var(--mantine-color-blue-3);
      }
    }
  }